<?php

return [
    'websites' => [
        'url' => '',
        'checker' => [
            'imprint-page' => [],
            'privacy-page' => [
                'path' => '/privacy/',
            ],
            'sitemap-blacklist' => [],
        ],
    ],
];
