<?php

$privatePages = [
    '/imprint/',
    '/privacy/',
];

return [
    'websites' => [
        [
            'url'     => '',
            'checker' => [
                'page-exists'       => [
                    'pages' => $privatePages
                ],
                'robots-txt'        => [
                    'disallows' => $privatePages,
                ],
                'sitemap-blacklist' => [
                    'blacklisted' => $privatePages
                ],
            ],
        ]
    ],
];
