<?php

$privatePages = [
    '/imprint/',
    '/privacy/',
];

return [
    'websites' => [
        [
            'url'     => '',
            'checker' => [
                'page-exists'          => [
                    'pages' => $privatePages,
                ],
                'robots-txt'           => [
                    'disallows' => $privatePages,
                ],
                'sitemap-blacklist'    => [
                    'path'      => 'sitemap.xml',
                    'blacklist' => $privatePages,
                ],
                'text-or-html-present' => [
                    [
                        'page' => '/',
                        'text' => 'copyright',
                    ],
                ],
            ],
        ],
    ],
];
